<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Объявления</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"  type="image/x-icon"/>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css}"/>
    <link rel="stylesheet" href="../static/assets/font-awesome.min.css" th:href="@{/assets/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/style.css" th:href="@{/assets/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/catalog.css" th:href="@{/assets/catalog.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/page3.css" th:href="@{/assets/page3.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/assets/list.css" th:href="@{/assets/list.css}"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous">
    </script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"
          th:href="@{http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css}" rel="stylesheet"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"
            th:src="@{http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js}"></script>
    <script src="../static/js/popUp.js" th:src="@{/js/popUp.js}"></script>
    <script src="../static/js/search.js" th:src="@{/js/search.js}"></script>
    <script src="../static/js/jquery.easy-autocomplete.min.js" th:src="@{/js/jquery.easy-autocomplete.min.js}"></script>

</head>
<body>
<div th:replace="headerFragment :: header"></div>


<div class="searchMenu searchMenu-mod">
        <div class="searchFields searchFields-mod">
            <form id="main_search" action="/search/adverts" method="GET">
                <div class="formWrap">
                    <div>
                        <i class="fa fa-search formInput_icon formIcon" aria-hidden="true"></i>
                        <input class="main_searchInputs seachInput" id="searchName" type="text" name="title"
                               th:value="${title}" placeholder="10135 питомцев" />
                    </div>
                    <div>
                        <i class="fa fa-snowflake-o formInput_icon formIcon" aria-hidden="true"></i>
                        <input class="main_searchInputs seachInput main_searchInputs-mod" type="text" placeholder="Порода" id="breedList" th:value="${breedName}"/>
                        <input name="breedId" th:hidden="'true'" th:value="${breedId}"/>
                    </div>
                    <div>
                        <i class="fa fa-map-marker formInput_icon formIcon " aria-hidden="true"></i>
                        <input class="main_searchInputs seachInput" type="text" placeholder="Вся Украина" title="Скоро Будет" th:disabled="'true'"/>
                    </div>
                    <div class="search_button">
                        <button type="submit" class="main_searchButton main_searchButton-mod" ><i class="icon-magnifier"></i></button>
                    </div>
                    <input name="order" th:value="${order}" th:hidden="'true'"/>
                    <input name="property" th:value="${property}" th:hidden="'true'" />
                    <input type="number" name="minPrice" th:value="${minPrice}" th:hidden="'true'"/>
                    <input type="number" name="maxPrice" th:value="${maxPrice}" th:hidden="'true'"/>
                </div>
            </form>
        </div>
    </div>

<div class="founded">
    <div class="wrapper">
        <p class="founded_text" th:text="!${isListEmpty} ? 'Мы нашли ' + ${page.getTotalElements()} + ' записей по вашем запросу:' : 'По вашему запросу ничего не найдено'"></p>
        <div class="orderBy">
            <div class="orderByT">Order By:</div>
            <select  id="orderSelect" class="orderBy_button">
                <option  value="DESC,id">Новые объявления</option>
                <option  value="ASC,averagePrice">От дешевых к дорогим</option>
                <option  value="DESC,averagePrice">От дорогих к дешевым</option>
            </select>
        </div>
    </div>
</div>

<div class="wrapper catalog">
    <div class="searchSide">
        <div class="">
            <h1 class="first_filterWrap"><a href="#">Filters</a></h1>
            <h1 class="second_filterWrap"><a href="#">Price</a></h1>
            <div class="filterprice">
                <input class="filter_input" type="number" id="minPrice" placeholder="От" th:value="${minPrice}"/>
                <span>—</span>
                <input class="filter_input" type="number" id="maxPrice" placeholder="До" th:value="${maxPrice}"/>
                <!--<h1 class="second_filterWrap"><a href="#">Parents</a></h1>-->
                <!--<div class="parent_blockFilter">-->
                    <!--<input type="text" placeholder="Родители" id="Parents" name="parentName"/>-->
                <!--</div>-->
                <button class="filterprice_button" id="applyFilter">Применить</button>
            </div>
        </div>
    </div>

    <div class="dogsSide" th:if="!${isListEmpty}"><a name="advertList"></a>

        <section class="dogsItem" th:each="advert : ${adverts}">
            <div class="animals_picWrap">
                <img src="../static/img/dog1.jpg"
                     th:src="${advert.photos} != null ?
                             (${advert.photos.size()} !=0 ? ${advert.photos.get(0)} : '/img/noAnimal.jpg')
							 : '/img/noAnimal.jpg'"
                     alt="dogs" class="animals-pic"/>
            </div>
            <div class="discripitonAnimal">
                <h3 class="discripitonAnimal_name" th:text="${advert.title}">Beautiful Yorkshire Terrier for sale</h3>
                <h2 class="discripitonAnimal_price" th:text="${advert.averagePrice} + '$'">700$</h2>
                <h2 class="discripitonAnimal_place"><i class="fa fa-map-marker" aria-hidden="true"></i>Odessa, Ukraine
                </h2>
                <h2 class="discripitonAnimal_breed">Breed: <span th:text="${advert.breed.name}">Dog</span></h2>
                <h2 class="discripitonAnimal_birthday">Birthday: <span th:text="${advert.birthday}">12.10.2014</span>
                </h2>
                <div class="discripitonAnimal_buttons">
                    <div>
                        <div class="discriptionAnimal_like_tooltip"></div>
                        <button class="discripitonAnimal_more descriptionAnimal_like" data-link="http://aristo-pets.com/api/favorite/advert/1"
                                th:attr="data-link = ${favUrl} + ${advert.id}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                    <a href="#" th:href="@{'/advert/'+${advert.id}}">
                        <button class="discripitonAnimal_more">More</button>
                    </a>
                </div>
            </div>
        </section>

        <div th:replace="paginationFragment :: pagination"></div>
    </div>
</div>
<div th:replace="footerFragment :: footer">
</div>
<script type="text/javascript" src="../static/js/mainPage.js" th:src="@{/js/mainPage.js}"></script>
<script src="../static/slider/jquery.bxslider.min.js" th:src="@{/slider/jquery.bxslider.min.js}"></script>
<script src="../static/js/popUp.js" th:src="@{/js/popUp.js}"></script>
</body>
</html>