<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
       <link rel="stylesheet" type="text/css" href="../static/assets/style.css"/>
       <script src="../static/js/popUp.js"></script>

<body>

<div th:fragment="header">
    <div class="popUp" id="popUp">
        <div class="box" id="box">
            <button type="button" class="closePopUp">&times;</button>
            <div class="left_side">
                <form class="popUp_singIn" action="#" th:action="@{/login}" method="post">
                    <h4>Login</h4>
                    <input class="form_input form_fields" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           placeholder="Email" name="email"/>
                    <input class="form_input form_fields" type="password" pattern=".{6,20}" placeholder="Password"
                           name="password"/>
                    <p class="invalid_formData" th:text="${invalidInput}"> Invalid email or password</p>
                    <input type="hidden" name="redirectUri" th:value="${#httpServletRequest.getRequestURI()}"/>
                    <input class="form_checkbox" type="checkbox" name="remember" value="true" checked="checked"/> <span>Запомнить меня</span>
                    <input class="form_button" type="submit" value="Войти"/>
                </form>
            </div>
            <div class="right_side">
                <h4>if you don't already have an account click the button below to create your account.</h4>
                <a href="#"><input id="createAccount" class="form_button form_button-mod form_button-create"
                                   type="submit" value="Создать Аккаунт"/></a>
                <p>ИЛИ</p>
                <a href="#" th:href="@{/authtype/1}"><input class="form_button form_button-mod form_button-fb"
                                                            type="submit" value="Авторизоваться с FB"/></a>
                <a href="#" th:href="@{/authtype/2}"><input class="form_button form_button-mod form_button-vk"
                                                            type="submit" value="Авторизоваться с VK"/></a>
            </div>
            <div class="registerForm" id="hide" th:attr="id=${openReg} ? 'regPopUp' : null">
                <button type="button" class="backpopUp">&#8592;</button>
                <h4>Register</h4>
                <form action="" th:action="@{/registration}" method="post">
                    <input class="form_input form_fields " type="email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                           placeholder="E-mail" required="" th:name="email"/>
                    <input class="form_input form_fields " type="password" pattern=".{6,20}" placeholder="Password"
                           required="" th:name="password"/>
                    <input class="form_input form_fields " type="password" pattern=".{6,20}" placeholder="Confirm password"
                           th:name="passwordConfirm"/>
                    <input class="form_input form_fields " type="text" placeholder="Name" required=""
                           th:name="firstName"/>
                    <input class="form_input form_fields " type="text" placeholder="Surname" required=""
                           th:name="lastName"/>
                    <input class="form_input form_fields " type="text" placeholder="City" th:name="city"/>
                    <input class="form_input form_fields " type="text" placeholder="Country" th:name="country"/>
                    <p class="invalid_formData invalid_formData-mod" th:text="${regInvalidInput}">You are stupid
                        asshole</p>
                    <input type="hidden" name="redirectUri" th:value="${#httpServletRequest.getRequestURI()}"/>
                    <input class="form_input form_fields  form_button" type="submit" value="Зарегистрироваться"/>
                </form>
            </div>
        </div>
    </div>
    <header id="header" class="section">
        <div class="header_wrapper" id="" th:attr="id=${needAuth} ? 'auth' : null">
            <div class="header_logo"><a href="#" th:href="@{/}" class="header_logo-a">AristoPets</a></div>
            <div class="header_nav">
                <ul class="header_nav_list">
                    <li class="header_nav_item"><a href="/list/adverts" th:href="@{/list/adverts}">Обьявления</a></li>
                    <li class="header_nav_item"><a href="/list/animals" th:href="@{/list/animals}">Питомцы Заводчиков</a></li>
                    <li class="header_nav_item"><a href="/aboutUs/" th:href="@{/aboutUs/}">О нас</a></li>
                </ul>
            </div>
            <div class="header_user" th:object="${user}">
                <!--<img src="../static/img/breeder.jpg" alt="breeder" class="header_user_img" th:src="${isUserAuth} ? *{photo} : @{/img/notAuth.png}"/>-->
                <img src="../static/img/breeder.jpg" alt="breeder" class="header_user_img" th:if="${isUserAuth}"
                     th:src="@{*{photo}}"/>
                <div class="class_triangle-down" th:if="${isUserAuth}"></div>
                <div class="openMenu" th:if="${isUserAuth}">
                    <p class="openMenu_">Страница:</p>
                    <a href="#"><h3 class="openMenu_name" th:text="*{firstName}">Dmitry Strahow</h3></a>
                    <a href="#" th:href="@{/myprofile}"><h3 class="openMenu_manege">Профиль</h3></a>
                    <a href="#" th:href="@{/favorites/adverts}"><h3 class="openMenu_add">Избранное</h3></a>
                </div>
            </div>
            <div class="header_singIn openPopUp" th:if="!${isUserAuth}">Войти</div>
            <a class="header_singIn" th:href="@{/exit}" th:if="${isUserAuth}">Выйти</a>
            <!--<a class="header_plusLink" href="##"><div class="header_plus">+</div></a>-->
        </div>
    </header>
</div>

</body>
</html>