<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pagination">
    <div class="pagination_wrap">
        <div class="pagination_wrap" th:with="nowPage=${page.number}+1">
            <ul class="pagination" th:with="pagesRange = 5">
                <li>
                    <a th:if="${page.hasPrevious()}"
                       href="#" th:href="@{ ${#httpServletRequest.getRequestURI()} } + ${query} + ${page.number - 1}"
                       th:text="'«'">«</a>
                </li>
                <li th:if="${nowPage} >= ${pagesRange}">
                    <a href="#" th:href="@{ ${#httpServletRequest.getRequestURI()} } + ${query} + '0'"
                       th:text="1">1</a>
                </li>
                <li th:if="${nowPage} >= ${pagesRange}">
                    <a href="#" th:href="@{ ${#httpServletRequest.getRequestURI()} }+ ${query} + ${center1 - 2}">...</a>
                </li>
                <li th:each="number : ${#numbers.sequence(center1,center2)}">
                    <a th:class="${nowPage}  == ${number} ? 'active' : ''"
                       href="#" th:href="@{ ${#httpServletRequest.getRequestURI()} } + ${query} + ${number - 1}"
                       th:text="${number}">1</a>
                </li>

                <li th:if="${totalPages} > ${pagesRange} and ${totalPages} - ${pagesRange} >= ${nowPage}">
                    <a href="#" th:href="@{ ${#httpServletRequest.getRequestURI()} } + ${query} + ${center2}">...</a>
                </li>

                <li th:if="${totalPages} > ${pagesRange} and ${totalPages} - ${pagesRange} >= ${nowPage} ">
                    <a th:href="@{ ${#httpServletRequest.getRequestURI()} } + ${query} + ${totalPages-1}" th:text="${totalPages}"></a>
                </li>

                <li>
                    <a th:if="${page.hasNext()}"
                       href="#" th:href="@{${#httpServletRequest.getRequestURI()} } + ${query} + ${nowPage} "
                       th:text="'»'">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>