<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/assets/style.css"/>
</head>
<body>
<div class="sideBar" th:fragment="sidebar">
    <div class="sidebar_breeder">
        <a th:href="@{'/breeder/adverts/'+${userBreeder.id}}">
                <div class="sidebar_breeder_img" style="background: url(../static/img/breeder.jpg); background-position: center; background-size: cover"
                     th:attr="style = 'background: url(' + ${userBreeder.photo} + '); background-position: center; background-size: cover'"></div>
            <h2 class="sidebar_breeder_name" th:text="${userBreeder.firstName}+' '+${userBreeder.lastName}">Dmitry
                Strahov</h2>
        </a>
        <!--
        <div class="sidebar_icons">
            <a href="#"><i class="fa fa-facebook  fa-inverse" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-skype  fa-inverse" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-whatsapp fa-inverse" aria-hidden="true"></i></a>
        </div>
        -->
    </div>
    <div class="sidebar_club">
        <div th:if="${userBreeder.nursery} != null" class="info_container">
            <i class="icoLine icon-mustache"></i>
            <span class="sidebar_club_text" th:text="${userBreeder.nursery}">Pitomnik name</span>
        </div>
        <div class="info_container">
            <i class="icoLine icon-briefcase" th:if="${userBreeder.club} != null"></i>
            <span class="sidebar_club_text" th:text="${userBreeder.club}">Club name</span>
        </div>
    </div>
    <div class="sidebar_info">
        <div class="info_container">
            <i class="icoLine icon-envelope" th:if="${userBreeder.email} != null"></i>
            <span class="sidebar_info_text" th:text="${userBreeder.email}">name@adress.com</span>
        </div>
        <div th:if="${userBreeder.phoneNumber} != null" class="info_container">
            <i class="icoLine icon-phone"></i>
            <span class="sidebar_info_text" th:text="${userBreeder.phoneNumber}">+380931234567</span>
        </div>
        <div class="info_container">
            <i class="icoLine icon-location-pin"></i>
            <span class="sidebar_info_text">Odessa, Ukraine</span>
        </div>
        <a href="http://uku.com.ua/plem_work/plem_document/blank/dog_kup_prod.doc" th:if="${userBreeder.isContractOfSale()}">
            <i class="icoLine icon-doc"></i>
            <span class="sidebar_info_text">Договор к-п</span>
            <br/>
            <span class="sidebar_info_text-mod">скачать</span>
        </a>
    </div>
    <div class="sidebar_dogBreeds" th:if="${breedsOfUser} != null">
        <h2 class="sidebar_dogBreeds_h">Породы у <span th:text="${userBreeder.firstName} + ':'">Breeds Dmitry</span>
        </h2>
        <ul class="sidebar_dogBreeds_list" th:each="breedOfUser : ${breedsOfUser}">
            <li class="sidebar_dogBreeds_item" th:text="${breedOfUser}">Yorkshire Terrier</li>
        </ul>

    </div>
</div>

</body>
</html>